<!DOCTYPE html>
<html>
<head>
 <title></title>
 
<script type="text/javascript" src="main.js"></script>


</head>
<body style="background: linear-gradient(to bottom, #aaffa9, #11ffbd);height:100vh;">
<h1 style="text-align: center;">Metflux Task</h1>

<form action = "/success" method = "post" enctype="multipart/form-data">  
        <input style="padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  " type="file" name="file" />  
        <input style="padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  " type = "submit" value="Upload">  
</form>
<br /> <br /><br />
<a href=live ><button style="padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  margin: -20px 35px;
  ">Live Face Detection</button></a>
</body>
</html>
